<!--finish_book判定-->
<p>
  <% if @book.finish_book_by?(current_user) %>
    既読の本です
    <%= link_to "既読を取り消す", book_finish_books_path(@book.id), method: :delete %>
    <%= @book.finish_books.count %>人がこの本を読みました
  <% else %>
    この本を読んだことがありますか？
    <%= link_to "既読の本に追加する", book_finish_books_path(@book.id), method: :post %>
    <%= @book.finish_books.count %>人がこの本を読みました
  <% end %>
</p>

<h2>
  タイトル：<%= @book.title %>
  　著者：<%= link_to @book.author.name,  author_path(@book.author.id) %>
</h2>

<!--check_book判定-->
<p>
  <% if @book.check_book_by?(current_user) %>
    <%= link_to "チェックを外す", book_check_books_path(@book.id), method: :delete %>
    現在<%= @book.check_books.count %>人のユーザがこの本をチェックしています
  <% else %>
    <%= link_to "この本をチェックする",book_check_books_path(@book.id), method: :post %>
    現在<%= @book.check_books.count %>人のユーザがこの本をチェックしています
  <% end %>
</p>


<h3>コメント　<%= @book.book_comments.count %>件</h3>
<% @book_comments.each do |book_comment| %>

  <div>
    <%= book_comment.user.name %>：
    <%= book_comment.comment %>
    <% if book_comment.user_id == current_user.id %>
      <%= link_to "削除", book_book_comment_path(book_comment.book.id, book_comment.id), method: :delete %>
    <% end %>
  </div>
<% end %>

<%= form_with model:[@book, BookComment.new], local: true do |f| %>
  <%= f.text_area :comment, placeholder: "コメントをここに" %><br>
  <%= f.submit "コメントする" %>
<% end %>


