<!DOCTYPE html>
<html>
  <head>
    <title>BS1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <% if user_signed_in? %>
      <%= current_user.name %>でログイン中
      <%= link_to "マイページ", user_path(current_user) %>
      <%= link_to current_user.name+"からログアウト", destroy_user_session_path, method: :delete %>
    <% end %>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
